<!-- voter_analytics/templates/base.html 
Will be on all of template pages-->
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter Analytics</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'voter_analytics/styles.css' %}">
</head>
<body>
    <header>
        <h1>Voter Analytics</h1>
        <nav>
            <a href="{% url 'voters' %}">Home</a>
            <a href="{% url 'graphs' %}">Graph</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>