<!-- project/templates/project/base.html 
 A template with common HTML code that will be re-used by 
 all of the other templates.
 -->

 <html>
    <head>
        <meta charset="UTF-8">
        <title>Vapor</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'game_list' %}"><h1>Vapor</h1></a>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-button">Logout</button>
                </form>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-button">Login</a>
                {% endif %}
            </div>
        </header>
        <nav>
            <a href="{% url 'game_list' %}" class="nav-button">Games</a>
            <a href="{% url 'review_list' %}" class="nav-button">Reviews</a>
            <a href="{% url 'collection_list' %}" class="nav-button">Collections</a>
            {% if user.is_authenticated %}
                <a href="{% url 'show_profile' user.project_profile.pk %}" class="nav-button">Profile</a>
            {% endif %}
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            Our Gaming Reivew App called Vapor
        </footer>
    </body>
</html>