<!-- project/templates/project/game_detail.html -->
{% extends 'project/base.html' %}

{% block content %}
    <h1>{{ game.title }}</h1>
    <div class="card">
        {% if game.cover_image %}
            <img src="{{ game.cover_image.url }}" alt="{{ game.title }}">
        {% endif %}
        <p class="mb-1">Genre: {{ game.genre }}</p>
        <p class="mb-1">Platform: {{ game.platform }}</p>
        <p class="mb-1">Developer: {{ game.developer }}</p>
        <p class="mb-1">Release Date: {{ game.release_date }}</p>
    </div>

    <h2>Reviews</h2>
    {% for review in game.review_set.all %}
        <div class="card">
            <p class="mb-1">Rating: {{ review.rating }}/5</p>
            <p class="mb-1">By: {{ review.user.username }}</p>
            <p class="mb-1">Date: {{ review.review_date }}</p>
            <p>"{{ review.review_text }}"</p>
            {% if user.is_authenticated and user == review.user %}
                <a href="{% url 'review_update' review.pk %}" class="nav-button">Edit</a>
                <a href="{% url 'review_delete' review.pk %}" class="nav-button">Delete</a>
            {% endif %}
            <hr>
        </div>
    {% empty %}
        <p>No reviews yet.</p>
    {% endfor %}
    {% if user.is_authenticated %}
    <form action="{% url 'add_to_collection' game.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="nav-button">Add to Collection</button>
    </form>

    <form action="{% url 'review_add' game.id %}" method="post" class="form-review">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit" class="nav-button">Add a Review</button>
    </form>
{% endif %}
{% endblock %}