<!-- mini_fb/templates/mini_fb/show_profile.html
Page is used to show a single profile -->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>{{ profile.name }}</h1>
    <img src="{{profile.image_url}}" alt="profile image">
    <table>
        <tr>
            <th>First Name</th>
            <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ profile.city }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ profile.email }}</td>
        </tr>
    </table>
    <h2>Status Messages</h2>
    <ul>
        {% for status in profile.get_status_messages %}
            <li>{{ status.message }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_status' profile.pk %}" class="nav-button">Create a Message</a>
{% endblock %}