<!-- mini_fb/templates/mini_fb/show_all.html -->
{% extends "mini_fb/base.html" %}
{% load static %}

{% block content %}

<h1>Show all Profiles</h1>

<!-- display a context variable called profiles -->
<!-- {{profiles}} -->

<!-- <div> -->
<main class="grid-container">
    <!-- loop to display each article -->
    {% for profile in profiles %}
        <profile>
            <img src="{{profile.image_url}}" alt="{{profile.first_name}}">

            <div>
                <h2>{{profile.first_name}} {{profile.last_name}}</h2>
                <h3>Lives in {{profile.city}}</h3>
                <h3>Their email is {{profile.email}}</h3>

            <div>

        </profile>
    {% endfor %}
<!-- </div> -->
</main>

{% endblock %}