<!-- mini_fb/templates/mini_fb/show_profile.html
Page is used to show a singular profile -->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
    <img src="{{ profile.image_url }}" style="width:300px; height:300px;">
    <table>
        <tr>
            <th>Email</th>
            <td>{{ profile.email }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ profile.age }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ profile.city }}</td>
        </tr>
    </table>

    <a href="{% url 'update_profile' profile.pk %}" class="nav-button">Update Profile</a>

    <h2>Status Messages</h2>
    <div>
        {% for status in profile.get_status_messages %}
            <div class="status-message">
                <strong>{{ status.timestamp }}</strong>: {{ status.message }}
                {% if status.get_images %}
                    {% for img in status.get_images %}
                        <img src="{{ img.image_file.url }}" alt="{{ img.image_file.url }}">
                    {% endfor %}
                {% endif %}
                <div class="status-message-buttons">
                    <a href="{% url 'update_status' status.pk %}" class="nav-button">Update Status</a>
                    <a href="{% url 'delete_status' status.pk %}" class="nav-button">Delete Status</a>
                </div>
            </div>
        {% empty %}
            <p>No status messages available.</p>
        {% endfor %}
    </div>

    <a href="{% url 'create_status' profile.pk %}" class="nav-button">Post a Status Message</a>
{% endblock %}