<!-- mini_fb/templates/mini_fb/show_profile.html
Page is used to show a singular profile -->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
    <img src="{{ profile.image_url }}" style="width:300px; height:300px;">
    <table>
        <tr>
            <th>Email</th>
            <td>{{ profile.email }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ profile.age }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ profile.city }}</td>
        </tr>
    </table>

    <a href="{% url 'update_profile' profile.pk %}" class="nav-button">Update Profile</a>

    <div>
        <h2>{{ profile.first_name }}'s Friends</h2>
        {% if profile.get_friends %}
            <ul style="list-style-type: none; padding: 0; display: flex; gap: 10px;">
                {% for friend in profile.get_friends %}
                    <li>
                        <a href="{% url 'show_profile' friend.id %}">
                            <img src="{{ friend.image_url }}" alt="{{ friend.first_name }} {{ friend.last_name }}" style="width:100px; height:100px; border-radius:50%;">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>This user has no friends yet.</p>
        {% endif %}
    </div>

    <h2>Status Messages</h2>
    <div>
        {% for status in profile.get_status_messages %}
            <div class="status-message">
                <strong>{{ status.timestamp }}</strong>: {{ status.message }}
                {% if status.get_images %}
                    {% for img in status.get_images %}
                        <img src="{{ img.image_file.url }}" alt="{{ img.image_file.url }}">
                    {% endfor %}
                {% endif %}
                <div class="status-message-buttons">
                    <a href="{% url 'update_status' status.pk %}" class="nav-button">Update Status</a>
                    <a href="{% url 'delete_status' status.pk %}" class="nav-button">Delete Status</a>
                </div>
            </div>
        {% empty %}
            <p>No status messages available.</p>
        {% endfor %}
    </div>

    <a href="{% url 'create_status' profile.pk %}" class="nav-button">Post a Status Message</a>
{% endblock %}