<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
        <h1>Welcome</h1>
        <p class="quote">
            Welcome to the Quote of the Day application!<br>
            This application displays quotes and images of <a href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo">Cristiano Ronaldo</a>.<br>
            Cristiano Ronaldo is one of the best footballers in its history, inspiring millions of people around the world for his extreme dedication to the sport.
        </p>
 {% endblock %}