/* static/css/styles.css */
/* Keeping the main colors for mini fb a blue palette */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #71b8ff;
}

/* Footer and table header should be same color */
footer {
    background-color: #2691fd;
    padding: 1em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
/* Footer and table header should be same color */
thead th {
    background-color: #2691fd;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

h1 {
    color: #F8F9FA;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Make our profile images circular and a nice blue border around it */
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 2px solid #2691fd;
    border-radius: 50%;
}

th {
    background-color: #f2f2f2;
}