/* static/css/styles.css */
/* Keeping the main colors for mini fb a blue palette */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #71b8ff;
}

/* Footer and table header should be same color */
footer {
    background-color: #2691fd;
    padding: 1em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table, th, td {
    border-radius: 8px;
    background-color: #f9f9f9;
}

th {
    background-color: #e0e0e0;
    font-weight: bold;
}
/* Footer and table header should be same color */
thead th {
    background-color: #2691fd;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

h1 {
    color: #F8F9FA;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}


/* Make our profile images circular and a nice blue border around it */
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 2px solid #2691fd;
    border-radius: 50%;
}


th {
    background-color: #f2f2f2;
}

nav {
    text-align: center;
    margin: 20px 0;
}

button, .nav-button {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 15px;
    background-color: #040070;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: left;
}

.status-message {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}